<!DOCTYPE html>
<html>
	<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
        <link rel="stylesheet" href="/css/main.css">
        <link href='http://fonts.googleapis.com/css?family=Federo|Special+Elite|Rock+Salt' rel='stylesheet' type='text/css'>
        <script src="/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
	</head>
	<body>
		<div class="container">
			<div class="mainMenu">
			<div class="row">
			<div class="span9 offset1">
			<div class="span3">
				<h1>Kim Ash</h1>
			</div>
			<div class="span2 pull-right">
				<ul class="inline">
				  <li><h3><a href="#">about</a></h3></li>
				  <li><h3><a href="#">contact</a></h3></li>
				</ul>
			</div>
			</div>
			</div>
			<div class="row">
			<div class="span9 pull-right">
			<!--div class="span9"-->
				<ul class="inline">
				  <li class="active"><h2><a href="#">screen</a></h2></li>
				  <li><h2><a href="#">paper</a></h2></li>
				  <li><h2><a href="#">photo</a></h2></li>
				  <li><h2><a href="#">canvas</a></h2></li>
				  <li><h2><a href="#">tactile</a></h2></li>
				</ul>
			<!--/div-->
			</div>
			</div>
			</div>
			</div>
    	</div>
		<!-- JavaScript at the bottom for fast page loading -->
        <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
	</body>
</html>